font-face {
font-family: "font_";
src: url("/ttf/42828.ttf");
}

#main_menu{
height: 35px;
width: 60%;
margin-top: 20px;
float: left;
margin-left: 30px;
display: inline-block;
font-family:font_;
}
#main_menu ul ul{
display:none;

}

#main_menu ul {
text-align:center;
padding:0;
margin:0;
list-style:none;
position:relative;
}

#main_menu ul li{
text-align:center;
font-family:font_;
position:relative;
z-index:1000;
height:32px;
display:block;
float:left;
width:190px;
padding-top:10px;
}

.brake{
background: url(/images/brake.png) no-repeat;
}
.brake_1{width:190px;
background: url(/images/brake_.png) no-repeat;
}
#main_menu ul li a{
text-align:center;
display:block;
color:#ffffff;
text-decoration:none;
font-family:font_;
font-size:11pt;
}

#main_menu ul li a:hover{ 
color:rgb(86, 90, 92);
text-decoration:none;
}

#main_menu ul ul{
position:absolute;
top:42px;
background-color:rgb(62,147,11);
//background-color:#596a63;
width:190px;
border-radius:5px;
-moz-border-radius:5px;
-webkit-border-radius:5px;
-webkit-box-shadow: 5px 5px 5px #161617;
-moz-box-shadow: 5px 5px 5px #161617;
box-shadow: 5px 5px 5px #161617;
border:thin solid rgb(86, 90, 92);
display:none;
}

#main_menu ul li:hover ul{
position:absolute;
left:10px;
display:block;
}

#main_menu ul ul li{
padding-top:10px;
padding-bottom:2px;
}
.b{
margin-bottom:12px;
background: url(/images/brake_.png) no-repeat;
}

#main_menu ul ul li a{
font-size:10pt;
border:none;
color:white;
}
